$rouge-color: #fe6d73;

//card
.card {
  background-color: white;
  color: #272727;
  max-width: 41vw;
  height: 52vh;
  padding: 20px;
  margin: 10px;
  border: 0px;
  border-color: tomato;
  border-style: solid;
  transition: 200ms;

  img {
    width: 40vw;
    height: 27vh;
    margin-bottom: 30px;
    object-fit: contain;
  }
  .card:hover {
    transition: 200ms;
    border: 3px;
    border-color: tomato;
    border-style: solid;
  }

  .card-header {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }

  .profile {
    width: 10.5rem;
    height: 1.7000000000000002rem;
    background-color: tomato;
    border-radius: 50px;
    margin: 10px;
    font-size: 20pt;
    text-align: center;
    font-weight: bold;
    color: white;
    justify-content: center;
  }

  .letter {
    vertical-align: middle;
  }

  .card-title-group {
    justify-content: center;
  }

  .card-title {
    flex: 0.5;
    font-size: large;
    margin-bottom: 0;
    margin-top: 0;
  }
  .card-date {
    flex: 0.3;
    font-size: small;
    margin-top: 0;
  }

  .card-image {
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .card-like-icon {
    height: 25px;
  }

  .card-text {
    font-size: medium;
    max-width: 40vw;
    display: flex;
  }
}
.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  font-family: "Roboto";
  font-weight: 0 !important;
  font-size: 3rem !important;
  line-height: 1 !important;
  letter-spacing: 0em !important;
  text-transform: none !important;
}

.cardM {
  background-color: white;
  color: #272727;
  max-width: 41vw;
  height: 60vh;
  padding: 20px;
  margin: 10px;
  border: 0px;
  border-color: tomato;
  border-style: solid;
  transition: 200ms;

  img {
    width: 40vw;
    height: 27vh;
    margin-bottom: 30px;
    object-fit: contain;
  }
  .card:hover {
    transition: 200ms;
    border: 3px;
    border-color: tomato;
    border-style: solid;
  }

  .card-header {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }

  .profile {
    width: 12vw;
    height: 5vh;
    background-color: tomato;
    border-radius: 50px;
    margin: 10px;
    font-size: 20pt;
    text-align: center;
    font-weight: bold;
    color: white;
    justify-content: center;
  }

  .letter {
    vertical-align: middle;
  }

  .card-title-group {
    justify-content: center;
  }

  .card-title {
    flex: 0.5;
    font-size: x-large;
    margin-bottom: 0;
    margin-top: 0;
  }
  .card-date {
    flex: 0.3;
    font-size: small;
    margin-top: 0;
  }

  .card-image {
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .card-like-icon {
    height: 25px;
  }

  .card-text {
    font-size: 0.9em !important;
    max-width: 40vw;
    display: flex;
  }
}

.containerEvent {
  bottom: 100px;
}
// @media screen and (max-width: 1560px) {
//   .card {
//     background-color: white;
//     color: #272727;
//     max-width: 41vw;
//     height: 45vh;
//     padding: 20px;
//     margin: 10px;
//     border-radius: 10px;
//     border: 0px;
//     border-color: tomato;
//     border-style: solid;
//     transition: 200ms;

//     img {
//       width: 40vw;
//       height: 27vh;
//       object-fit: contain;
//     }
//   }
// }
