$rouge-color: #fe6d73;
$jaune-color: #ffcb77;

//card
.card {
  border-radius: 5px;
  background-color: white;
  color: #272727;
  max-width: 41vw;
  width: 25vw;
  height: 60vh;
  padding: 20px;
  margin: 10px;
  border: 0px;
  border-color: tomato;
  border-style: solid;
  transition: 200ms;

  .card:hover {
    transition: 200ms;
    border: 3px;
    border-color: $rouge-color;
    border-style: solid;
  }

  .card-header {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }

  .profile {
    width: 10.5rem;
    height: 1.7000000000000002rem;
    background-color: $rouge-color;
    border-radius: 50px;
    margin: 10px;
    font-size: 20pt;
    text-align: center;
    font-weight: bold;
    color: white;
    justify-content: center;
  }

  .letter {
    vertical-align: middle;
  }

  .card-title-group {
    justify-content: center;
  }

  .card-title {
    flex: 0.5;
    font-size: 2rem;
    margin-bottom: 0;
    margin-top: 0;
  }
  .card-date {
    flex: 0.3;
    font-size: small;
    margin-top: 0;
  }

  .card-image {
    border-radius: 10px;

    margin-top: 10px;
    width: 25vw;

    object-fit: contain;
    height: 27vh;
  }
  .card-like-icon {
    height: 25px;
  }

  .card-text {
    font-size: medium;
    max-width: 40vw;
    display: flex;
  }
}
.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  font-family: "Roboto";
  font-weight: 0 !important;
  font-size: 3rem !important;
  line-height: 1 !important;
  letter-spacing: 0em !important;
  text-transform: none !important;
}

.cardM {
  background-color: white;
  color: #272727;
  width: auto;
  height: auto;
  padding: 20px;
  margin: 10px;
  border: 0px;
  border-color: $rouge-color;
  border-style: solid;
  transition: 200ms;

  .card:hover {
    transition: 200ms;
    border: 3px;
    border-color: tomato;
    border-style: solid;
  }

  .card-header {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }

  .profile {
    width: 12vw;
    height: auto;
    background-color: $rouge-color;
    border-radius: 50px;
    margin: 10px;
    font-size: 20pt;
    text-align: center;
    font-weight: bold;
    color: white;
    justify-content: center;
  }

  .letter {
    vertical-align: middle;
  }

  .card-title-group {
    justify-content: center;
  }

  .card-title {
    flex: 0.5;
    font-size: xx-large;
    margin-bottom: 0;
    margin-top: 0;
  }
  .card-date {
    flex: 0.3;
    font-size: small;
    margin-top: 0;
  }

  .card-image {
    border-radius: 10px;
    margin-top: 10px;
    height: 27vh;
    margin-bottom: 30px;
    object-fit: contain;
    width: 40vw;
  }
  .card-like-icon {
    height: 25px;
  }

  .card-text {
    font-size: 1.5em !important;
    max-width: 40vw;
    display: flex;
    font-size: 2em;
  }
}

.descri {
  padding-top: 20px;
  margin-top: 0;
  text-overflow: ellipsis;
  white-space: wrap;
  overflow: hidden;
  font-size: 1em;
}
.css-1gkse3u {
  border-radius: 5px;
}

@media screen and (max-width: 1560px) {
  .card {
    border-radius: 5px;
    background-color: white;
    color: #272727;

    width: auto;
    height: auto;
    padding: 20px;
    margin: 10px;
    border: 0px;
    border-color: tomato;
    border-style: solid;
    transition: 200ms;
  }
  .card .card-title {
    flex: 0.5 1;
    font-size: 1.5rem;
    margin-bottom: 0;
    margin-top: 0;
  }
}
