$jaune-color: #ffcb77; //bouton
$blue-color: rgb(68, 144, 161);
$rouge-color: #fe6d73; //compteur
$white-color: #fef9ef;

.Item {
  background-color: #fef9ef;
  color: black;
  height: 60vh;
  margin: 1em;
  width: 20vw;
  display: flex;
  flex-direction: column;
  border: solid 3px $white-color;
  border-radius: 5px;

  .ItemImage {
    border-top: solid 3px $white-color;
    border-bottom: solid 1px white;
    height: 20vh;
    object-fit: cover;
  }
  .ItemDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 40vh;
    text-align: center;
    white-space: wrap;
    text-overflow: ellipsis;
    overflow: hidden;
    // flex-wrap: wrap;
  }

  .ItemTitle {
    color: white;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $blue-color;
  }
}
