.navbar {
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    background-color: #ffcb77;
    width: 100%;
    height: 8vh;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;

    a {
        text-decoration: none;
        color:#fef9ef;
        position: relative;
        :hover {
            color: rgb(68, 144, 161);
            transition-duration: 1.0s;
        }
        ::after {
            content: "";
            display: block;
            position: absolute;
            bottom: 20px;
            width: 100%;
            height: 3px;
            transform: scaleX(0);
            transform-origin: left;
            background: rgb(68, 144, 161);
            transition: transform 0.5s ease-out;
        }
        :hover::after {
            transform: scaleX(1);
        }
    }

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        gap: 0.25rem;
        color: #fff;
    }

    img {
        height: 100%;
    }
}