$jaune-color: #ffcb77; //bouton
$blue-color: rgb(68, 144, 161);
$rouge-color: #fe6d73; //compteur
$white-color: #fef9ef;

.GrosseDiv {
  display: flex;
  height: auto;
  padding-bottom: 100px;
}
.bandeau {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
}
.ShopButton {
  margin-top: 4em;
  margin-bottom: 4em;
  height: 3em;
  width: 80%;
  margin-left: 2.5em;
  box-shadow: 2px 2px 2px 2px grey;
  font-weight: bolder;
  background-color: $blue-color;
  border-radius: 5px;
  border: none;
  color: white;
}
.ShopTitle {
  font-weight: bolder;
  text-align: center;
  color: $blue-color;
}

.ShopFilter {
  background-color: #ffcb77;
  // color: $blue-color;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  width: 20vw;
  line-height: 2em;
  border: none;
}

.main-app {
  display: flex;
  border: 2px ridge #464141;
  padding: 2%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.2rem;
  color: #464141;
  flex-wrap: wrap;
  justify-content: center;
  border: none;
}

.container {
  display: flex;
}

.pagination {
  margin-top: 45px;
  margin-left: -40px;
  display: flex;
  list-style: none;
  outline: none;
  justify-content: center;
  color: $blue-color;
}

.pagination > .active > a {
  background-color: $blue-color;
  color: #fff;
}

.pagination > li > a {
  border: 1px solid $blue-color;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}

.pagination > li > a,
.pagination > li > span {
  color: $blue-color;
  background-color: azure;
}

.ItemTitle {
  background-color: $jaune-color;
}

.filter-label {
  text-shadow: 1px 1px 1px grey;
}

.filter-box {
  height: 20px;
}
